body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #336699;
}

.container {
    width: 80%;
    /* Container takes up 80% of the screen width */
    max-width: 1200px;
    /* The container will not stretch beyond 1200px */
    margin: 0 auto;
    /* Centers the container horizontally */
    padding: 20px;
    /* Adds padding inside the container */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a subtle shadow around the container */
    border-radius: 10px;
    /* Optional: Adds rounded corners to the container */
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.navbar {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: lightblue;
    justify-content: right;
}